# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/
ENV/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyCharm
.idea/
*.iml

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Temporary files
*.tmp
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# VSCode (если вдруг)
.vscode/
